@import '../../utils//theme//colors';
@import '../../utils/theme/breakpoints';

.CardContainer{
    margin: 1rem;
    width: 20vw;
    min-width: 15rem;
    min-height: 20rem;
    border-radius: 2px;
    padding-top: 3rem;
    padding-bottom: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position-y: -2rem !important;

    ::after{
        background: #000;
    }
        
    .Card{
        height: 100%;
        border: none;
        background: linear-gradient(rgba(#000000, 0.0), rgba(#000000, 0.5), rgba(#000000, 0.9 ), #000000);
    }

    .CardImg{
        height: max-content;
        background: none;
    }

    .CardBody{

        p{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        
    }

    .CardFooter{
        
        color: $text-color;
        small{
            color: $muted-color;
        }
    }
}

//* MOBILE BRAKEPONT...
@media screen and (max-width: $breakpoint-mobile) {
    .CardContainer{
        margin: 1rem;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center;
    }
}