@import '../../utils/theme/breakpoints';

.Card{

    width: 5rem;
    
}

//* MOBILE BREAKPOINT...
@media screen and (max-width: $breakpoint-mobile) {

    .MoviesGrid{
        .ScrollContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

}