@import '../../utils/theme/breakpoints';
@import '../../common.module.scss';

.Container{
    padding-top: 5rem;
    width: 100vw;
    height: 100%;
    .Heading{
        @extend .center;
    }
}

.MoviesGrid{

    margin: 2rem 0;

    h4{
        font-family: 'Roboto', sans-serif;
        padding-left: 1rem;
        letter-spacing: 1.5px;
    }

    .ScrollContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .Card{
            margin-top: 0.5rem;
        }
    }
    
}

//* MOBILE BREAKPOINT...
@media screen and (max-width: $breakpoint-mobile) {

    .MoviesGrid{
        .ScrollContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

}