body{
    font-family: 'Roboto',sans-serif;
}

.Container{
    width: 100vw;
    height: 100vh;

    header{
        position: fixed;
        top: 0;
        padding: 1rem;
        z-index: 5;
        height: 5rem;
        justify-content: center;
        vertical-align: middle;
    }

    h1{
        font-family: 'Bebas Neue';
        font-weight: bolder;
    }

    p{
        font-family: 'Roboto', sans-serif;
    }

}