@import '../utils/theme//colors';

body{
    font-family: 'Roboto',sans-serif;
    background-color: $secondary-color;
    color: $text-color;
    overflow-x: hidden;
}

.Container{
    width: 100vw;

    p{
        font-family: 'Roboto', sans-serif;
    }

    background-color: $secondary-color;
    color: $text-color;
    overflow-x: hidden;

    header{
        width: 100%;
        height: 5rem;
        position: fixed;
        top: 0;
        padding: 1rem;
        z-index: 5;
        justify-content: center;
        vertical-align: middle;
    }

    h1{
        font-family: 'Bebas Neue';
        font-weight: bolder;
    }

    p{
        font-family: 'Roboto', sans-serif;
    }

}